aside {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

aside a {
    color: var(--mainOrange);
    text-align: center;
}

.linkedinIcon {
    font-size: 2em;
}

.emailIcon {
    font-size: 2em;
}